/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [TicketNumber]
      ,[SystemCreatedDate]
      ,[TicketOpenDate]
      ,[TicketDescription]
      ,[TicketCategory]
      ,[TicketSubCategory]
      ,[TicketSource]
      ,[TicketType]
      ,[TicketDateResolved]
      ,[TicketState]
      ,[TicketIncidentState]
      ,[TicketPriority]
      ,[TicketResolutionNotes]
      ,[TicketLastUpdatedDate]
      ,[Country]
      ,[CompanyName]
      ,[TicketResolverGroup]
      ,[TicketAssignedToUserId]
      ,[TicketAssignedTo]
      ,[TicketClosedBy]
      ,[DateCreated]
  FROM [DBTickets].[dbo].[Optimal_Incidents]
  where CompanyName Like '%patrick%'
  order by TicketNumber desc